<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>
    <body>
        <a href="/"><h1>Srekja</h1></a>

        <h3>Log In</h3>

        {% if session['username'] %}
            <h2>User is logged in</h2>
        {% endif %}

        <form method="POST">
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password" >Password:</label>
            <input type="password" id="password" name="password">
            <br><br>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>